

.stats{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.box{
    position: relative;
    height: 100px;
    background: #034766;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    transform: skew(2deg, 2deg);
    background: linear-gradient(315deg, #0ca7fa, #0c48fa);
    z-index: -1;
}

.content{
    position: relative;
    padding:20px;
    color: #fff;
}