<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"/>
    <title>Template</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="#"> Aatma Nirbhar</a>
            </div>
            <div class="header-links">
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Posts</a></li>
                </ul>
            </div>
        </header>

        <main class="main">
            <div class="content">
                <div class="content welcome">
                    <h1>Welcome to Aatma Nirbhar</h1>
                    <div class="get-started">
                        <a href="https://www.google.com/"><h2>Get Started</h2></a>
                    </div>
                </div>

                <div class="content about">
                    <h1>Who are we?</h1>
                    <p>
                        Atmanirbhar is an HR service provider, aiming to eradicate unemployment from the country by the end of the decade. Here at "Atmanirbhar", we look forward to creating a positive recruiter-employee bond where the recruiter can post job opportunities to which an aspirant can apply. The entire world has been under a severe lockdown since long. There is an endless list of people who went jobless and are impuissant to earn even a meal. They have lost all hopes of procuring jobs for feeding their family and need to get a job and start again. To produce employment, we lead to establishing a bridge between the workers and people who need them. 
                    </p>
                </div>

                <div class="content services">
                    <h1>"The two most powerful warriors are patience and time".</h1> 
        			<h3>– Leo Tolstoy, War and Peace</h3>
                    <p>
                        We understand the importance of time, and hence we care for yours. 
                        Atmanirbhar pledges you to make atmanirbhar. We bridge the gap between enthusiastic, talented individuals and the destination expecting them, taking them to their target and kissing the glorifying success. Connecting these individuals with the organization will ultimately help it to grow and reach the sky. We identify the best talents to work for you in highly professional and organized establishments sector of India through our services.
                    </p>
                    <h4>A recruiter can post job opportunities in the following categories:</h4>
                    <div class="list">
                        <div class="block">Full Time Job</div>
                        <div class="block">Part Time Job</div>
                        <div class="block">Work from home</div>
                        <div class="block">Temporary Jobs</div>
                        <div class="block">Internships</div>
                        <div class="block">Campus placements</div>
                        <div class="block">One time service</div>
                    </div>
                </div>

                <div class="content end">
                    <h1>What sets us different?</h1>
                    <p>
                        <ul>
                            <div>
                                Vast services coverage
                            </div>
                            <div>
                                Responsibility: We are responsible for your comfort and trust. For a company, we are accountable for providing capable aspirants and for a worker, we are responsible for giving jobs according to their preference 
                            </div>
                            <div>
                                Expertise: Our team consist of people from various backgrounds and diverse industries. We are a crew of highly professional, proficient and intellectually productive leaders who can make your dream real.
                            </div>
                            <div>
                                You Are at Preference: We believe in innovating while maintaining the healthy traditional idea of continuing as a service person. That is why we focus on revisiting and recurrently thinking about the requirements of our clients and planning highly compliant and customizable service agreements for them.
                            </div>
                        </ul>
                    </p>
                </div>
            </div>
        </main>

        <footer class="footer">
            Copyright Content
        </footer>
    </div>
</body>
</html>