html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font : 1.6rem Candara;
    height:100vh;
    margin:0;
}

.grid-container{
    display: grid;
    height: 100%;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 5rem;
}

.header{
    grid-area: header;
    background-color: #004eb5;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brand a{
    display: flex;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}

.header-links a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004eb5;
}

.header-links li{
    float:right
}

.header-links li a:hover {
    background-color: #111;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    background-color: #0f0f0f;
    color: #ffffff;
    align-items: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #004eb5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.content div {
    margin: 15px;
}

.form {
    width:200px;
    padding:20px;
}

.form input[type=text], input[type=password], textarea {
    padding: 10px;
    margin: 5px;
    border: 1.5px;
    border-color: blueviolet;
    border-style: groove;
    border-radius: 10px;
    width: 100%;
}

.welcome {
    background: linear-gradient(to left, #03bafc, #02739c);
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(4){
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.box-area li:nth-child(7){
    left: 12%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
}

.box-area li:nth-child(8){
    left: 37%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
}

.box-area li:nth-child(9){
    left: 54%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-delay: 4s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.get-started{
    transition: all 0.5s;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.get-started h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.get-started:hover h2 {
    padding-right: 25px;
}

.get-started h2:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.get-started:hover h2:after {
    opacity: 1;
    right: 0;
}

.content.about h1 {
    padding-top: 5px;
    color: #0094d9;
    font-weight: bolder;
    font-size: 80px;
    margin-bottom: 30px;
}

.content.about p{
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 40px;
}

.content.services {
    padding: 50px;
    background-image: linear-gradient(to bottom right,rgba(34, 166, 242,0.4), rgba(158, 215, 247,0.2));
}

.content.services h3 {
    color: #4f5559;
}

.content.services p {
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.content.services h4 {
    font-weight: 400;
    font-size: 30px;
}

.content.services .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #ffffff;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content.services .list .block {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1));
    border-radius: 50px;
    width: 30%;
    margin: 0;
    height: 60px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    line-height: 60px;
    transition: all 0.3s;
}

.content.services .list .block:hover{
    color: #000000;
    background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(0,0,0,0.005));
    font-size: 30px;
    font-weight: bolder;
    transition: all 0.3s;
}