html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font : 1.6rem Candara;
  height:100vh;
  margin:0;
}

.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 14rem;
}

.header{
  grid-area: header;
  background-color: #22add4;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brand{
  height: 6rem;
  width: 460px;
  background-color: #c7f2ff;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 0px 20px 1px #3f3f41;
}

.img-container{
  background-color: #22add4;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 9px;
  height: 5.45rem;
  width: 5rem;
  box-shadow: 3px 1px 8px 1px #201f1f;
  margin-right: 10px;
}

.brand img{
  float: left;
  max-width:5rem;
  max-height:5rem;
  object-fit: cover;
  border-radius: 40px;
}

.brand a{
  position: relative;
  color: #034766;
  background-color: #c7f2ff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 18px;
}

.brand a span{
  color: #108bad;
  margin-left: 8px;
  margin-right: 10px;
}

.header-links a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
}

.header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #22add4;
}

.header-links li{
  float:right
}

.header-links li a:hover {
  background-color: rgba(70, 193, 227, 0.5);
}

.header-links .Y{
  background-color: #46c1e3;
}

.main{
  grid-area: main;
  background-color: #dbf7ff;
}

.footer{
  grid-area: footer;
  background-color: #0f0f0f;
  color: #ffffff;
  align-items: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #049dc7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button.white{
  background-color: #fff;
  color: #0077c7;
}

.button.black{
  background-color: #000;
  color: #fff;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  box-shadow: 1px 0px 6px 1px #413f3f inset;
  height: 100%;
}

.content div {
  margin: 15px;
}

.form {
  box-shadow: 1px 1px 8px 1px #888888;
  background-color: #ffffff;
}

.form.no-box{
  box-shadow: none;
  background-color: inherit;
}

.form form {
  width:500px;
  padding:10px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.register-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-link h2 {
  color: #db0049;
  font-weight: 400;
}

.form input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], textarea {
  padding: 10px;
  margin: 5px;
  border: 1.5px;
  border-color: #66696b;
  border-style: solid;
  border-radius: 10px;
  width: 90%;
}

.form input[type=submit], input[type=button] {
  background-color: #0094d9;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
  font-size: 2rem;
  margin-top: 20px;
}

.form input[type=button] {
  background-color: #c91b0e;
}

.form .form-heading h2{
  color: #ffffff;
  margin:0px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #2e2f30;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #2e2f30;
}

.center {
  position: absolute;
  top:10%;
  background-color: #22add4b7;
  box-shadow: 1px 1px 8px 1px #062dadb0;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.center p {
  text-align: center;
}

.center h1 {
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 30px;
}

.center h4 {
  color: #000;
  font-weight: 400;
  font-size: 40px;
  margin-top: 30px;
}

.center h2 {
  color: #000;
  font-size: 60px;
  font-weight: normal;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.footer-content h4 {
  margin: 10px;
  font-weight: 200;
}

.contact{
  display: flex;
}

.contact-title{
  padding-right: 50px;
}

.contact-title h1 {
  color: #ffffff;
  font-size: 40px;
}

.contact-content {
  text-align: center;
  padding-left: 50px;
}

.offers{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.offer {
  background-color: #fff;
  width: 50%;
  text-align: center;
  box-shadow: 1px 1px 8px 1px #888888;
  margin: 30px;
}

.offer h2 {
  color: #0077c7;
  font-size: 30px;
  margin-bottom: 0px;
}

.offer h3{
  margin-top: 0;
  font-size: 15px;
}

.offer h3 span {
  color: #626363;
  font-size: 10px;
}
.offer.loading{
  width: 50%;
  height: 50%;
  box-shadow: none;
  background-color: #dbf7ff;
}
.offer.loading .item::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  height: inherit;
  width: 100px;
  background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
      left: -10px;
  }
  to   {
      left: 90%;
  }
}

.offer-info {
  padding: 10px;
  background-color: #dcf4fa;
}

.content.welcome {
  background: linear-gradient(to left, #03bafc, #02739c);
  width: 100%;
  height: 700px;
  margin:0;
}

.box-area {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 700px;
  overflow-y: hidden;
  list-style-type: none;
}

.box-area li {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(4){
  left: 35%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7){
  left: 12%;
  width: 20px;
  height: 20px;
  animation-delay: 7s;
}

.box-area li:nth-child(8){
  left: 37%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
}

.box-area li:nth-child(9){
  left: 54%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-delay: 4s;
}

@keyframes animate{
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  100%{
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
  }
}

.content.welcome h1{
  font-size: 60px;
  font-family: Century Gothic;
}

.content.welcome h2{
  margin-top: 0;
  color: #fff;
  font-family: Century Gothic;
}

.content.welcome .h11{
  margin-top: 0;
  color: #005982;
  margin-bottom: 20px;
}

.content.welcome .h12{
  color: #034766;
}

.get-started{
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  margin: 5px;
}

.get-started h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.get-started:hover h2 {
  padding-right: 25px;
}

.get-started h2:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.get-started:hover h2:after {
  opacity: 1;
  right: 0;
}

.content.about{
  box-shadow: none;
}

.content.about h1 {
  padding-top: 5px;
  color: #0094d9;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 30px;
}

.content.about p{
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.7;
}

.content.services {
  padding: 50px;
  background-image: linear-gradient(to bottom right,rgba(34, 166, 242,0.4), rgba(158, 215, 247,0.2));
}

.content.services h3 {
  color: #4f5559;
}

.content.services p {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.content.services h4 {
  font-weight: 400;
  font-size: 30px;
}

.content.services .list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content.services .list .block {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1));
  border-radius: 50px;
  width: 30%;
  margin: 0;
  height: 60px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  line-height: 60px;
  transition: all 0.3s;
}

.content.services .list .block:hover{
  color: #000000;
  background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(0,0,0,0.005));
  font-size: 25px;
  font-weight: bolder;
  transition: all 0.3s;
}

.profile-content{
  display: grid;
  grid-template-areas:
    'user user user side'
    'user user user stats';
  grid-template-columns: .21fr .21fr .21fr .37fr;
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.user-content{
  background-color: #ffffff;
  grid-area: user;
  box-shadow: 1px 1px 8px 1px #888888;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2%;
}

.user-content h1{
  color: #049fc9;
  border-bottom-color: #4f5559;
  border-width: 1.5px;
  border-bottom-style: solid;
  text-align: center;
  margin-top:2%;
  padding-bottom: 5px;
}

.user-content h1 span {
  color: #3d3d3d;
}

.user-content .details .field-name {
  font-weight: bolder;
}

.user-content .details .field {
  display: flex;
  flex-direction: row;
}

.user-content .edit-details {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
}

.user-content .complete-profile {
  text-align: center;
}

.side-container{
  grid-area: side;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  box-shadow: 1px 1px 8px 1px #888888;
}

.side-tab{
  border-top-right-radius: 20px;
  position: relative;
  height: 400px;
  display: grid;
  grid-template-areas:
  'nav'
  'tab'
  'foot';
  grid-template-rows: .2fr .74fr .06fr;
}

.nav{
  grid-area: nav;
}

.nav-menu-items.side-nav {
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
}

.nav-menu-items.side-nav ul{
  background-color: #2e2f30;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 20px;
}

.nav-menu-items.side-nav a{
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-items.side-nav li :hover {
  background-color: rgba(92, 92, 92, 0.3);
}

.nav-menu-items.side-nav .Y2 {
  background-color: rgba(92, 92, 92, 0.7);
}

.nav-menu-items.user-nav ul{
  background-color: #4fd0ff;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 10px;
}

.nav-menu-items.user-nav a{
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-items.user-nav li :hover {
  background-color: rgba(11, 164, 219, 0.4);
}

.nav-menu-items.user-nav .Y1 {
  background-color: #0ba4db;
}

.user-tab{
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: gray;
  border-width: 1.5px;
  height: 300px;
}

.tab{
  grid-area: tab;
  background-color: lightskyblue;
  margin-right: 7%;
  margin-left: 7%;
  border-left-style: solid;
  border-color: gray;
  border-width: 1.5px;
}

.tab{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.tab .notification{
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 1%;
}

.tab .notification[id="1"]{
  background-color: #dbf0ff;
}

.foot{
  grid-area: foot;
  height: 100%;
  width: auto;
  background-color: #2e2f30;
}

.stats-container {
  padding: 10px;
  grid-area: stats;
  background-color: #ffffff;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 8px 1px #888888;
  position: relative;
  background: #fff;
}

.stats-container h3{
  margin:0;
}

.stats{
  background: #fff;
  color: #fff;
  position: relative;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill);
  grid-template-rows: auto;
  grid-gap: 0 10px;
  z-index: 1;
}

.box{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  z-index: 3;
  margin: 10px;
}

.box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  transform: skew(2deg, 2deg);
  background: linear-gradient(315deg, #003054, #00b7ff);
  z-index: 2;
}

.item{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #0079d4;
  z-index: 3;
}

.item .name{
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background: #d6edff;
}

.item .value{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}


.admin-panel{
  margin: 20px;
  padding: 20px;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  border-left: solid;
  border-right: solid;
  border-color: gray;
  border-width: 1.5px;
}

.admin-panel h1 {
  text-align: center;
  color: #0094d9;
  font-size: 300%;
}

.nav-menu-items{
  transition: all .3s;
}

.nav-menu-items ul {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #e8e8e8;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  list-style-type: none;
  transition: all .3s;
}

.nav-menu-items li {
  float: left;
  transition: .3s; 
}

.nav-menu-items li :hover {
  background-color: #d4d4d4;
  transition: all .3s;
}

.nav-menu-items .Y{
  background-color: #c7c7c7;
}

.nav-menu-items a {
  font-size: 30px;
  padding: 10px;
  display: block;
  cursor: pointer;
  transition: all .3s;
}

.entries {
  padding-right: 5%;
  padding-left: 5%;
  overflow-y: scroll;
  height: 550px;
  max-height: 550px;
  border-bottom-style: groove;
}

.entry {
  padding: 10px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  border-width: .5px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.entry button {
  position: 50%;
  right: 5%;
  background-color: #f72828;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  margin:0px;
}

.entry-name {
  font-weight: 800;
  padding-left: 10%;
  padding-right: 30%;
}

.entries .entry:hover {
  background-image: linear-gradient(rgba(177, 178, 179,.6), rgba(177, 178, 179,.5), rgba(177, 178, 179,.4), rgba(247, 247, 247,1));
}

.msgbox {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 20px;
  align-content: center;
  padding-left: 30px;
}

.msg {
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 50px;
}

.msgbox.negative {
  background-color: #ff9696;
  color: #d12424;
}

.msgbox.positive {
  background-color: #b3ffad;
  color: #15820d;
}

.admin-login {
  margin-left: 30%;
  margin-right: 30%;
}

.no-content {
  color: #2e2f30;
  font-size: 20px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20%;
  padding-bottom: 30%;
}

.bg1{
  background-color: #f0f3f5;
}

.ReactModal__Overlay{
  display: flex;
}

.modal{
  align-self: center;
  width: max-content;
  height: max-content;
  max-width: 60%;
  margin: auto;
}

.modal .offer{
  width: fit-content;
  height: fit-content;
  margin: 0;
}