html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font : 1.6rem Candara;
  height:100vh;
  margin:0;
}

.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 14rem;
}

.header{
  grid-area: header;
  background-color: #032d99;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brand a{
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #032d99;
}

.header-links li{
  float:right
}

.header-links li a:hover {
  background-color: #111;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #0f0f0f;
  color: #ffffff;
  align-items: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #004eb5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.content div {
  margin: 15px;
}

.form form {
  width:500px;
  padding:10px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.register-link h2 {
  color: #db0049;
  font-weight: 400;
}

.form input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], textarea {
  padding: 10px;
  margin: 5px;
  border: 1.5px;
  border-color: #66696b;
  border-style: solid;
  border-radius: 10px;
  width: 90%;
}

.form input[type=submit], input[type=button] {
  background-color: #0094d9;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
  font-size: 2rem;
  margin-top: 20px;
}

.form input[type=button] {
  background-color: #c91b0e;
}

.form .form-heading h2{
  color: #ffffff;
  margin:0px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #2e2f30;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #2e2f30;
}

.center {
  position: absolute;
  top:10%;
}

.center p {
  text-align: center;
}

.center h1 {
  color: #0094d9;
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 30px;
}

.center h4 {
  color: #000;
  font-weight: 400;
  font-size: 40px;
  margin-top: 30px;
}

.center h2 {
  color: #000;
  font-size: 60px;
  font-weight: normal;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.footer-content h4 {
  margin: 10px;
  font-weight: 200;
}

.contact{
  display: flex;
}

.contact-title{
  padding-right: 50px;
}

.contact-title h1 {
  color: #ffffff;
  font-size: 40px;
}

.contact-content {
  text-align: center;
  padding-left: 50px;
}

.job {
  background-color: #c4d7ff;
  width: 50%;
  text-align: center;
  padding:20px;
  padding-bottom: 30px;
}

.job h3 {
  color: #000acc;
  font-size: 30px;
  margin-bottom: 0px;
}

.job-info {
  padding: 20px;
  background-color: #dcf4fa;
  border-radius: 20px;
  padding-bottom: 40px;
}

.content.welcome {
  width: 100%;
  height: 600px;
  background-color: black;
  margin: 0;
  background-size: cover;
}
.content.welcome h1 {
  color: #ffffff;
  font-size: 90px;
  font-family: Century Gothic;
}

.get-started{
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 5px;
}

.get-started h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.get-started:hover h2 {
  padding-right: 25px;
}

.get-started h2:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.get-started:hover h2:after {
  opacity: 1;
  right: 0;
}

.content.about h1 {
  padding-top: 5px;
  color: #0094d9;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 30px;
}

.content.about p{
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.7;
}

.content.services {
  padding: 50px;
  background-image: linear-gradient(to bottom right,rgba(34, 166, 242,0.4), rgba(158, 215, 247,0.2));
}

.content.services h3 {
  color: #4f5559;
}

.content.services p {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.content.services h4 {
  font-weight: 400;
  font-size: 30px;
}

.content.services .list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content.services .list .block {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1));
  border-radius: 50px;
  width: 30%;
  margin: 0;
  height: 60px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  line-height: 60px;
  transition: all 0.3s;
}

.content.services .list .block:hover{
  color: #000000;
  background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(0,0,0,0.005));
  font-size: 30px;
  font-weight: bolder;
  transition: all 0.3s;
}

.profile-content{
  display: grid;   grid-template-areas:
    'user user user user side side'
    'stats stats stats stats stats stats';
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.user-content{
  grid-area: user;
  border-style: groove;
  border-radius: 20px;
  padding: 2%;
}

.user-content h1{
  color: #0039ab;
  border-bottom-color: #4f5559;
  border-width: 1.5px;
  border-bottom-style: solid;
  text-align: center;
  margin-top:2%;
  padding-bottom: 5px;
}

.user-content h1 span {
  color: #0f0f0f;
}

.user-content .details .field-name {
  font-weight: bolder;
}

.user-content .details .field {
  display: flex;
  flex-direction: row;
}

.user-content .edit-details {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
}

.user-content .complete-profile {
  text-align: center;
}

.side-container{
  grid-area: side;
}

.side-tab{
  border-radius: 12px;
  border-style: groove;
  border-width: 1.5px;
  position: relative;
  height: 400px;
}

.nav-menu-items.side-nav ul{
  background-color: #2e2f30;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-menu-items.side-nav a{
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-items.side-nav li :hover {
  background-color: #5c5c5c;
}

.nav-menu-items.user-nav ul{
  background-color: #4fd0ff;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-menu-items.user-nav a{
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-items.user-nav li :hover {
  background-color: #0ba4db;
}

.user-tab{
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: gray;
  border-width: 1.5px;
  height: 300px;
}

.tab{
  background-color: lightskyblue;
  margin-right: 7%;
  margin-left: 7%;
  border-left-style: solid;
  border-color: gray;
  border-width: 1.5px;
}

.tab .notification-msg{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 300px;
}

.tab .notification-msg .notification{
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 1%;
}

.tab .notification-msg .notification[id="1"]{
  background-color: #dbf0ff;
}

.stats {
  grid-area: stats;
  background-color: chartreuse;
}

.admin-panel{
  margin: 20px;
  padding: 20px;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  border-left: solid;
  border-right: solid;
  border-color: gray;
  border-width: 1.5px;
}

.admin-panel h1 {
  text-align: center;
  color: #0094d9;
  font-size: 300%;
}

.nav-menu-items{
  transition: all .3s;
}

.nav-menu-items ul {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #e8e8e8;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  list-style-type: none;
  transition: all .3s;
}

.nav-menu-items li {
  float: left;
  transition: .3s; 
}

.nav-menu-items li :hover {
  background-color: #d4d4d4;
  transition: all .3s;
}

.nav-menu-items a {
  font-size: 30px;
  padding: 10px;
  display: block;
  cursor: pointer;
  transition: all .3s;
}

.entries {
  padding-right: 5%;
  padding-left: 5%;
  overflow-y: scroll;
  height: 550px;
  max-height: 550px;
  border-bottom-style: groove;
}

.entry {
  padding: 10px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  border-width: .5px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.entry button {
  position: 50%;
  right: 5%;
  background-color: #f72828;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  margin:0px;
}

.entry-name {
  font-weight: 800;
  padding-left: 10%;
  padding-right: 30%;
}

.entries .entry:hover {
  background-image: linear-gradient(rgba(177, 178, 179,.6), rgba(177, 178, 179,.5), rgba(177, 178, 179,.4), rgba(247, 247, 247,1));
}

.msgbox {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 20px;
  align-content: center;
  padding-left: 30px;
}

.msg {
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 50px;
}

.msgbox.negative {
  background-color: #ff9696;
  color: #d12424;
}

.msgbox.positive {
  background-color: #b3ffad;
  color: #15820d;
}

.admin-login {
  margin-left: 30%;
  margin-right: 30%;
}

.no-content {
  width: 100%;
  height: 100%;
  color: #2e2f30;
  font-size: 30px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 40%;
  padding-bottom: 60%;
}